.Link:hover {
  text-decoration: none;
}

.Header {
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  color: #b64d4d;
}

.boardRow {
  width: 100%;
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.titleRow {
  width: 100%;
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: .65rem;
}

.BoardMember {
  margin-top: 20px;
  background: url(../static/avatar.png) no-repeat;
  -webkit-filter: grayscale(100%);
  background-size: contain;
  height: 100px;
  width: 80px;
}

.MainHeading {
  font-size: 3rem;
  font-weight: 100;
  color: #b64d4d;
  margin: 10px 0px;
}

.defcon {
  font-size: 3.5rem;
  font-family: 'Archivo Black', 'Roboto', 'Open Sans', sans-serif;
  margin-right: 20px;
}

.BoardName, .BoardTitle, .BoardEmail {
  width: 150px;
  text-align: center;
}

.BoardEmail {
  font-size: .5rem;
}