@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import './colors';
@import './tiles';

.wrapper {
  lost-center: 1070px;
  height: 100vh;
}

.main {
  height: 100vh;
}

.content {
  lost-column: 1;
  /*background-color: $wild-sand;*/
}

.main-inner {
  padding: 40px 35px;
}

@media screen and (max-width: 1100px) {
  .content {
    lost-column: 1;
  }
  .main-inner {
    padding: 35px 20px;
  }
}

@media screen and (max-width: 900px) {
  .content {
    lost-column: 1;
  }
  .main-inner {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 500px) {
  .content {
    lost-column: 1;
  }
  .main-inner {
    padding: 25px 20px;
  }
}

.daily-hacks {
  &-title {
    font-size: 28px;
    font-weight: 400;
    color: $deep-cerulean;
    font-family: "Raleway", Helvetica, sans-serif;

    &-box {
      padding: 20px 0px;
    }
  }
  &-description {
    font-size: 14px;
    margin-top: 6px;
    max-width: 650px;
  }
}



html, body, :global(#root) {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 12px;
  /*color: #272727;*/
  color:#f4f4f4;
  box-sizing: border-box; 
  top: 0;

}
a {
  color: #409890;
}
* {
  font-size: inherit;
  box-sizing: inherit;
}

.backgroundImage {    
  background: url(/omaha.jpg)  no-repeat center bottom;
  width: 100%;
  background-size: 100%;
  position: fixed
}

.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.headerRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #b64d4d;
  flex-shrink: 0;
}

.logo {
  width: 35px;
  height: 35px;
}

.logoRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ReactContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
}
.LogoColumn {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  text-transform: uppercase;
}

.Body {
  flex: 1; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}
.imageSource {
  position: absolute;
  bottom: 90px;
  left: 3rem;
  color: #848484 !important;
  font-size: 10px;
  text-decoration: none !important;
}

.imageSource:hover {
  color: #848484 !important;
  font-size: 10px;
  text-decoration: none !important;
}

.home-divs {
  font-size: 24px;
  line-height: 1.6;
  font-family: sans-serif;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;

  a {
    color: #b64d4d;
  }
  a:hover {
    text-decoration: none;
    color: #b64d4d;
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
