/*
	Color names chosen from: 
	http://chir.ag/projects/name-that-color
*/

$lime: #b0eb00;
$bright-red: #b30015;
$tan-hide: #f7a046;
$orange: #f0ad4e;
$red: #d9534f;

/* Blues */
$dark-blue: #2a00b3;
$dodger-blue: #5d93ff;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$light-blue: #5bc0de;
$blue: #428bca;


/* Greys */
$white: #fff;
$wild-sand: #f4f4f4;
$gallery: #eee;
$dusty-grey: #999;
$grey: #888;
$nobel: #b6b6b6;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #333;
$coal: #222;
$mine-shaft: #323232;
$cod-gray: #111;