@import './colors';

$tile-size-sm: 100px;
$tile-margin: 5px;
$tile-size-md-lg: ($tile-margin * 2) + ($tile-size-sm * 2);
$duration: .3s;

/* transition mixin */
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

/* category specific coloring */
.hackme {
	background: $light-blue;
	color: #fff;
}

.pentesterlab {
  background: $red;
  color: #fff;
}

.ctf {
	background: $orange;
	color: #fff;
}


/* tile specific css */
.tiles {
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 13px;

  .tile {
    position: relative;
    cursor: pointer;
    margin: $tile-margin;
    padding: 5px 15px;
    float: left;
    overflow: hidden;

    &:hover {
      text-decoration: none;
      color: #fff;
    }

    &.lg-tile {
      height: $tile-size-md-lg;
      width: $tile-size-md-lg;
      .tile-caption {
        top: $tile-size-md-lg - 39px;
      }
    }

    &.sm-tile {
      height: $tile-size-sm;
      width: $tile-size-sm;
      .tile-caption {
        top: $tile-size-sm - 39px;
      }
    }

    &.md-tile {
      height: $tile-size-sm;
      width: $tile-size-md-lg;
      .tile-caption {
        top: $tile-size-sm - 39px;
      }
    }

    .tile-header {
      @include transition(ease-in-out $duration)
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }

    .tile-caption {
      position: absolute;
      left: 0;
      padding: 0 10px 5px 10px;
      color: #fff;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0, .4);
      @include transition(ease-in-out $duration)

      header {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #fff;
        font-size: 12px;
      }

      .tile-arrow-up {
        float: right;
        line-height: 40px;
        color: rgba(255,255,255, .8);
        @include transition(ease-in-out $duration)
      }

      .tile-preview {
        font-size: 10px;
      }

      &:hover {
        top: 0;
        background: rgba(0,0,0, .6);
      }

      &:hover .tile-arrow-up {
        opacity: 0;
      }
    }
  }
}

.tile-row {
  display: inline-block;
}




