.Link:hover {
  text-decoration: none;
}

.Header {
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  color: #b64d4d;
}

.MainHeading {
  font-size: 3rem;
  font-weight: 100;
  color: #b64d4d;
  margin: 10px 0px;
}

.defcon {
  font-size: 3.5rem;
  font-family: 'Archivo Black', 'Roboto', 'Open Sans', sans-serif;
  margin-right: 20px;
}